.flex-container {
    display: flex;
}

.flex-child:first-child {
    margin-right: 20px;
} 

body{
	background: #555;
}

#logo{ 
	text-align: center;
	
}

p{
	font-size: 20px;
	text-align: justify;
	text-justify: inter-word;
	color: #000001;
}

h1{ 
	text-align: center;
	color: #000001;
}

#e1{ 
	background-color: #228B22;
}

#e2{
	background-color: #FFA07A; 
}

#e3{
	background-color: #7B68EE; 
}

.flex-child text{
	width: 90%;
}

.flex-child img {
	border-radius: 10px;
	width: 235px;
	height: 235px;
	display: block;
	margin-left: auto;
	margin-right: auto;
}